<div id="<%= dom_id service %>">
  <p>
    <strong>Servicename:</strong>
    <%= service.ServiceName %>
  </p>

  <p>
    <strong>Servicenumber:</strong>
    <%= service.ServiceNumber %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= service.Cost %>
  </p>

  <p>
    <strong>Clientid:</strong>
    <%= service.ClientID_id %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= service.Phone_id %>
  </p>

</div>
