<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Service</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to services_path, class: button_class(theme: "transparent") do %>
      All Services
      <% end %>
      <%= link_to edit_service_path(@service), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Servicename:</p>
        <p><%= @service.ServiceName %></p>
      </li>
      <li>
        <p class="font-semibold">Servicenumber:</p>
        <p><%= @service.ServiceNumber %></p>
      </li>
      <li>
        <p class="font-semibold">Cost:</p>
        <p><%= @service.Cost %></p>
      </li>
      <li>
        <p class="font-semibold">Clientid:</p>
        <p><%= @service.ClientID %></p>
      </li>
      <li>
        <p class="font-semibold">Phone:</p>
        <p><%= @service.Phone %></p>
      </li>
  </ul>
</div>
