<div id="<%= dom_id pi_c %>">
  <p>
    <strong>Staffname:</strong>
    <%= pi_c.Staffname %>
  </p>

  <p>
    <strong>Staffid:</strong>
    <%= pi_c.StaffID %>
  </p>

  <p>
    <strong>Staffphone:</strong>
    <%= pi_c.StaffPhone %>
  </p>

  <p>
    <strong>Datetransaction:</strong>
    <%= pi_c.DateTransaction %>
  </p>

  <p>
    <strong>Clientname:</strong>
    <%= pi_c.ClientName %>
  </p>

  <p>
    <strong>Clientid:</strong>
    <%= pi_c.ClientID_id %>
  </p>

</div>
